@CHARSET "UTF-8";

.top-bg {
	line-height: 34px;
	border-bottom: 1px solid #dcdcdc;
	background: #eee;
}

.top-left {
	float: left;
}

.top-right {
	float: right;
	color: #686868;
}

.top-right a {
	color: #686868;
}

.top-right a:hover {
	color: #ff7023;
}

.top-bg ul li {
	float: left;
	margin-left: 10px;
}

.head-left {
	float: left;
}

.head-left img {
	margin-top: 10px;
}

.position {
	position: relative;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu ul li {
	float: left;
	font-size: 18px;
	margin-left: 40px;
}

.menu a {
	color: #424242;
}

.menu a:hover {
	color: #ea5404;
	border-bottom: 3px solid #ea5404;
}

.stat {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.stat ul li {
	float: left;
	width: 232px;
}

.stat dl {
	float: left;
	width: 70px;
}

.stat dt {
	float: left;
}

.stat em {
	font-size: 24px;
}

.stat p {
	line-height: 30px;
}

.br {
	border-right: 1px solid #dcdcdc;
}

.list {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.list-title {
	line-height: 35px;
	border-bottom: 1px solid #ea5404;
	overflow: hidden;
}

.list h2 {
	float: left;
	width: 100px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #ea5404;
}

.list span {
	float: right;
	font-size: 14px;
	font-weight: bold;
}

.list span a {
	color: #999;
}

.list ul li {
	margin: 20px auto;
	float: left;
	width: 142px;
	text-align: center;
}

.index {
	margin: 0px auto;
}

.index h2 {
	color: #ea5404;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
}

table.table,.user-table .ui-table {
	font-family: "Microsoft Yahei", "Courier New", "宋体";
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid #4874CC;
	border-collapse: collapse;
}

.user-table .ui-table caption {
	display: none;
}

table.table th,.user-table .ui-table th {
	font-size: 14px;
	font-weight: bold;
	line-height: 2.8em;
	border: 1px solid #ddd;
	background: #FFF;
}

table.table td,.user-table .ui-table td {
	font-size: 13px;
	line-height: 2.2em;
	border: 1px solid #ddd;
}

.index-title {
	margin: 5px auto;
	width: 1000px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.index-title-left {
	float: left;
	color: #5a5a5a;
	line-height: 40px;
}

.index-title-left h3 {
	float: left;
	color: #fb8140;
	font-size: 18px;
	font-weight: bold;
}

.index-title-left em {
	float: left;
	font-size: 14px;
	padding-left: 10px;
}

.index-title-right em {
	margin-left: 10px;
	margin-right: 25px;
	color: #fff;
	width: 100px;
	text-align: center;
	line-height: 35px;
	border-radius: 3px;
	background: #ea5404;
	display: inline-block;
}

.index-title-right {
	float: right;
}

.index-wrap {
	margin: 5px auto;
	width: 1000px;
	font-size: 16px;
	border: 1px solid #ddd;
	overflow: hidden;
}

.index-wrap-title {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	ovrflow: hidden;
}

.index-wrap-content {
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #ddd;
	ovrflow: hidden;
}

.index-wrap dl,.index-wrap dt,.index-wrap dd {
	float: left;
}

.index-wrap dl {
	width: 370px;
}

.index-wrap dt {
	width: 120px;
}

.index-wrap dd {
	width: 130px;
}

.index-wrap dt i {
	color: #ea5404;
}

.index-wrap-content dd i {
	color: #fff;
	width: 100px;
	text-align: center;
	line-height: 35px;
	border-radius: 3px;
	background: #ea5404;
	display: inline-block;
}

.index-zhuan {
	margin-right: 5px;
	color: #fff;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
	background: #2cb429;
	display: inline-block;
}

.index-invest {
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}

.index-invest-div {
	float: left;
	width: 490px;
	margin: 0 3px;
	border-width: 2px 1px 1px 1px;
	border-style: solid;
	border-color: #ea5404 #ddd #ddd #ddd;
}

.index-invest-info {
	height: 290px;
	overflow: hidden;
}

.index-invest-info-img {
	color: #fff;
	position: absolute;
	overflow: hidden;
}

.index-invest-info-img img {
	width: 490px;
	height: 290px;
}

.index-invest-info-img-con {
	width: 490px;
	bottom: 5px;
	left: 0px;
	height: 100px;
	position: absolute;
	background: url(../image/invest-wrap-div-img-con.png);
	z-index: 9999;
}

.index-invest-info-img-con h3 {
	margin-top: 5px;
	width: 490px;
	overflow: hidden;
}

.index-invest-info-img-con h3 em {
	float: left;
	font-size: 14px;
	margin: 0 5px;
	padding: 1px 5px;
	line-height: 20px;
	border-radius: 3px;
}
.index-invest-info-img-con ul li p{
	margin-left: 30px;
}
.index-invest-info-img-con ul li {
	float: left;
	width: 120px;
	text-align: center;
}

.index-invest-info-img-con i {
	font-size: 18px;
	line-height: 45px;
}

.index-invest-list {
	margin: 10px;
	overflow: hidden;
}

.index-invest-list ul li {
	line-height: 35px;
}

.index-invest-list i {
	margin-right: 20px;
	color: #fff;
	width: 180px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background: #ea5404;
	display: inline-block;
}

.index-jd {
	float: left;
	margin-top: 13px;
	width: 110px;
	height: 12px;
	padding-right: 2px;
	border-radius: 15px;
	border: 1px solid #e6a03e;
	background: #fff;
}

.index-jd-hover {
	height: 10px;
	border-radius: 15px;
	border: 1px solid #fff;
	background: #eed062;
}

.index-news {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.index-news-left {
	float: left;
	width: 680px;
}

.index-news-right {
	float: right;
	width: 290px;
}

.index-news-right h2 {
	color: #ea5404;
	font-size: 16px;
	line-height: 30px;
}

.index-news-right h2 em {
	color: #323539;
	font-size: 14px;
}

.index-news-wrap {
	margin: 10px auto;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.index-news-wrap ul {
	margin: 5px 10px;
}

.index-news-wrap li {
	line-height: 35px;
}

.index-news-wrap span {
	float: right;
}

.notice {
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.notice ul li {
	line-height: 35px;
	padding-left: 25px;
	background: url(../image/ico.png) no-repeat 10px;
}

.lilv {
	text-align: center;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.rank {
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.rank ul li {
	line-height: 35px;
	overflow: hidden;
}

.rank dl,dt,dd {
	float: left;
	text-align: center;
}

.rank em {
	color: #fff;
	padding: 0 5px;
	background: #a1acb4;
}

.search {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.search h2 {
	margin: 0 auto;
	color: #ea5404;
	font-size: 24px;
	line-height: 50px;
	border-bottom: 2px solid #ea5404;
}

.search-wrap {
	margin: 10px auto;
	overflow: hidden;
}

.search-wrap ul li {
	font-size: 16px;
	line-height: 50px;
	overflow: hidden;
}

.search-wrap dt:hover {
	color: #fff;
	margin-top: 10px;
	line-height: 30px;
	border-radius: 35px;
	background: #ea5404;
}

.search-wrap dl {
	float: left;
	width: 100px;
}

.search-wrap dt {
	float: left;
	padding: 0 18px;
}

.search-hover {
	color: #fff;
	margin-top: 10px;
	line-height: 30px;
	border-radius: 35px;
	background: #ea5404;
}

.invest {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.invest h2 {
	margin: 0 auto;
	color: #ff7023;
	font-size: 18px;
	line-height: 50px;
	border-bottom: 2px solid #d4d4d4;
}

.invest-wrap {
	margin: 15px auto;
	overflow: hidden;
}

.invest-wrap-div {
	float: left;
	width: 235px;
	color: #999;
	font-size: 12px;
	margin-right: 13px;
	margin-bottom: 30px;
	border-radius: 0px 0px 5px 5px;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	border-color: #ff7023 #dcdcdc #dcdcdc #dcdcdc;
	overflow: hidden;
}

.invest-wrap-div-img {
	height: 200px;
	position: absolute;
	overflow: hidden;
}

.invest-wrap-div-img img {
	width: 235px;
	height: 200px;
}

.invest-wrap-div-img-con {
	width: 235px;
	bottom: 0px;
	left: 0px;
	height: 60px;
	position: absolute;
	background: url(../image/invest-wrap-div-img-con.png);
	z-index: 9999;
}

.invest-wrap-div-img-con ul li {
	color: #fff;
	line-height: 30px;
}

.invest-wrap-div-img-con ul li em {
	margin: 0 5px;
	padding: 2px 5px;
	border-radius: 3px;
}

.invest-wrap-div-img-con a {
	color: #fff;
}

.invest-wrap-div-list {
	margin: 205px 10px 5px 10px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	display: inline-block;
}

.invest-wrap-div-list dl {
	float: left;
	width: 90px;
	border-right: 1px solid #ddd;
}

.invest-wrap-div-list dt {
	float: left;
	width: 113px;
	margin-left: 10px;
}

.invest-wrap-div-list dt p {
	padding-bottom: 10px;
}

.invest-wrap-div-list i {
	color: #4c4c4c;
	font-size: 16px;
}

.invest-wrap-div-lv {
	margin: 0 10px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.invest-wrap-div-lv dl {
	float: left;
	width: 100px;
	border-right: 1px solid #ddd;
}

.invest-wrap-div-lv dt {
	float: left;
	width: 103px;
	margin-left: 10px;
}

.invest-wrap-div-lv dt p {
	padding-bottom: 10px;
}

.invest-wrap-div-lv i {
	color: #ea5404;
	font-size: 16px;
}

.invest-wrap-div-jd {
	margin: 10px;
	overflow: hidden;
}

.invest-wrap-div-jd ul li {
	line-height: 30px;
}

.invest-wrap-div-button {
	overflow: hidden;
}

.invest-wrap-div-button i {
	width: 235px;
	height: 45px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 45px;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
}

.inveset-jd {
	float: left;
	width: 210px;
	height: 10px;
	border-radius: 15px;
	border: 1px solid #dedede;
	background: #fff;
}

.inveset-jd-hover {
	height: 10px;
	border-radius: 15px;
	background: #2cb429;
}

.item-title {
	margin: 0 10px;
	line-height: 50px;
	overflow: hidden;
}

.invest-now {
	background: #fb8140;
}

.invest-over {
	background: #00a63c;
}

.detail {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.detail-wrap {
	overflow: hidden;
}

.detail-left {
	float: left;
	width: 680px;
}

.detail-left-title {
	line-height: 40px;
	overflow: hidden;
}

.detail-left-title em {
	float: left;
	color: #fff;
	margin: 5px;
	padding: 0 8px;
	line-height: 30px;
	border-radius: 3px;
}

.detail-left-list {
	overflow: hidden;
}

.detail-left-list ul li {
	float: left;
	width: 210px;
	line-height: 40px;
	padding-left: 13px;
}

.detail-left-list em {
	color: #ff7023;
	font-size: 30px;
}

.detail-left-list dl {
	float: left;
}

.detail-left-list dt {
	float: left;
}

.detail-jd {
	margin-top: 12px;
	width: 100px;
	height: 15px;
	background: #ececec;
}

.detail-jd-hover {
	height: 15px;
	background: #ea5404;
}

.detail-right {
	margin: 20px;
	float: right;
	width: 280px;
	height: 200px;
	text-align: center;
	border-radius: 8px;
	background: #f2f2f2;
}

.detail-right i {
	margin: 10px auto;
	width: 240px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	display: inline-block;
}

.detail-right-wrap {
	margin: 0 10px;
}

.detail-right-wrap ul li {
	line-height: 40px;
}

.detail-right-wrap a {
	color: #ff7023;
}

.detail-tab {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.detail-tab-title {
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}

.detail-tab-title ul li {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 50px;
}

.detail-tab-hover {
	color: #fff;
	background: #ea5404;
}

.detail-tab-wrap {
	margin: 20px;
	line-height: 30px;
}

.detail-tab-wrap table {
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
}

.detail-tab-wrap th {
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.detail-tab-wrap td {
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.detail-tab-content {
	text-align: center;
	line-height: 30px;
}

.borrow {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.borrow-div {
	float: left;
	width: 315px;
	height: 300px;
	margin-top: 20px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
}

.calc-form {
	margin: 35px 0;
}

.input-group {
	display: inline-table;
	vertical-align: middle;
	margin-right: 20px;
}

.borrow-div h2 {
	color: #fff;
	line-height: 60px;
	text-align: center;
	border-radius: 6px 6px 0px 0px;
}

.borrow-div ul {
	margin: 0 auto;
	width: 250px;
}

.borrow-div li {
	color: #666;
	line-height: 30px;
}

.borrow-div i {
	margin: 0 auto;
	margin-top: 30px;
	width: 250px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 8px;
	display: inline-block;
}

.borrow-div i:hover {
	background: #99bdee;
}

.borrow-div a {
	color: #fff;
}

.borrow-add {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.borrow-add h3 {
	font-size: 18px;
	line-height: 60px;
	padding-left: 30px;
	border-bottom: 1px solid #dcdcdc;
}

.borrow-add-wrap {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.borrow-add-wrap ul li {
	float: left;
	width: 480px;
	line-height: 50px;
}

.borrow-add em {
	color: #f00;
}

.borrow-add-info {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.borrow-add-info ul li {
	line-height: 50px;
}

.borrow-add-info label {
	text-align: right;
	display: inline-block;
}

.error {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.error h2 {
	margin: 0 10px;
	line-height: 60px;
	border-bottom: 1px solid #dcdcdc;
}

.error-wrap {
	text-align: center;
	line-height: 50px;
}

.login {
	margin: 30px auto;
	width: 1000px;
	height: 400px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.login-left {
	float: left;
	width: 615px;
}

.login-right {
	float: right;
	width: 350px;
	margin: 30px auto;
}

.login-right ul li {
	line-height: 50px;
}

.login-right ul li label {
	width: 50px;
	text-align: right;
	padding-right: 1em;
	display: inline-block;
}

.login-right ul li input {
	font-size: 12px;
}

.login-right em {
	color: #f00;
}

.login-right i {
	width: 200px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.login-right i:hover {
	background: #f8512b;
}

.reg {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.reg-left {
	float: left;
	width: 450px;
	margin: 30px;
}

.reg-left ul li {
	line-height: 50px;
	overflow: hidden;
}

.reg-left ul li label {
	width: 80px;
	text-align: right;
	padding-right: 1em;
	display: inline-block;
}

.reg-left ul li input {
	font-size: 12px;
}

.reg-left em {
	color: #f00;
}

.reg-left i {
	width: 200px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.reg-left font {
	width: 100px;
	line-height: 38px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	margin-left: 10px;
	display: inline-block;
}

.reg-left i:hover,font:hover {
	background: #f8512b;
}

.reg-right {
	float: right;
	width: 490px;
}

.about {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.about-left {
	float: left;
	width: 180px;
	background: #ececec;
}

.about-left ul li {
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.clckClass {
	background: #ff7023;
}

.clckClass a {
	color: #fff;
}

.about-right {
	float: right;
	width: 800px;
	border: 1px solid #dcdcdc;
}

.about-right h2 {
	color: #ff7023;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.about-wrap {
	margin: 30px;
	line-height: 30px;
	overflow: hidden;
}

.news {
	margin: 30px;
	overflow: hidden;
}

.news ul li {
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}

.news ul li span {
	float: right;
}

.news-center {
	margin: 30px;
	line-height: 30px;
	overflow: hidden;
}

.tools {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.tools h2 {
	color: #ff7023;
	font-size: 18px;
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid #dcdcdc;
}

.tools p {
	margin: 20px;
	line-height: 30px;
}

.tools h3 {
	margin: 0 20px;
	color: #ff7023;
	line-height: 50px;
	border-bottom: 1px solid #dcdcdc;
}

.tools-wrap {
	margin: 20px;
	overflow: hidden;
}

.tools-wrap ul li {
	float: left;
	padding-right: 40px;
}

.tools-wrap ul li label {
	float: left
}

.tools-wrap ul li input {
	float: left
}

.tools-wrap ul li dd {
	float: left
}

.tools-bar {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.tools-bar a {
	color: #fff;
	line-height: 40px;
	text-align: center;
	padding: 10px 40px;
	background: #ff7023;
}

.tools-bar a:hover {
	background: #f1542f;
}

.tools-info table {
	width: 100%;
	text-align: center;
	line-height: 40px;
	margin-bottom: 50px;
}

.tools-info td {
	border-bottom: 1px solid #dcdcdc;
}

.unit {
	color: #efefef;
	font-size: 14px;
	text-align: center;
	padding: 3px;
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 0 4px 4px 0;
	box-sizing: border-box;
	border: 1px solid #999;
	background: #999;
}

.shop {
	margin: 30px auto;
	width: 1000px;
	overflow: hidden;
}

.shop-nav {
	margin: 10px auto;
	width: 1000px;
	line-height: 40px;
	overflow: hidden;
}

.shop-left {
	float: left;
	width: 230px;
}

.shop-left h2 {
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	background: #ff7023;
}

.shop-left-list {
	border: 1px solid #ff7023;
	overflow: hidden;
}

.shop-left-list ul li {
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid #dcdcdc;
}

.shop-left-pm {
	margin: 20px auto;
	border: 1px solid #ff7023;
	overflow: hidden;
}

.shop-left-pm ul li {
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}

.shop-left-pm img {
	float: left;
	margin: 8px;
	width: 90px;
	height: 80px;
}

.shop-left-pm dl {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	line-height: 35px;
}

.shop-left-pm h3 {
	font-size: 16px;
}

.shop-left-pm p {
	color: #ff7023;
}

.shop-right {
	float: right;
	width: 750px;
}

.shop-search {
	line-height: 40px;
	background: #ff7023;
	overflow: hidden;
}

.shop-search input {
	float: left;
	margin: 3px;
	width: 650px;
	height: 35px;
	border: 0px;
}

.shop-search a {
	float: right;
	color: #fff;
	width: 85px;
	font-size: 16px;
	text-align: center;
	line-height: 47px;
	display: inline-block;
}

.shop-wrap {
	overflow: hidden;
}

.shop-wrap-search {
	line-height: 40px;
	border-bottom: 1px solid #e7e3e7;
	background: #f9f9f9;
	overflow: hidden;
}

.shop-wrap-search ul li {
	float: left;
	margin: 0px 10px;
}

.shop-content {
	margin: 10px auto;
	overflow: hidden;
}

.shop-content ul li {
	float: left;
	margin: 10px auto;
	width: 185px;
	text-align: center;
	overflow: hidden;
}

.shop-content img {
	max-width: 150px;
	max-height: 150px;
}

.shop-content em {
	color: #ff7023;
}

.shop-content h3 {
	font-size: 14px;
}

.shop-content p {
	font-size: 12px;
}

.shop-goods {
	margin: 20px auto;
	overflow: hidden;
}

.shop-goods-left {
	float: left;
	width: 400px;
}

.shop-goods-left img {
	max-width: 350px;
	max-height: 250px;
	padding: 5px;
	border: 1px solid #dcdcdc;
}

.shop-goods-right {
	float: right;
	width: 300px;
}

.shop-goods-right ul li {
	line-height: 35px;
}

.shop-goods-right em {
	width: 120px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background: #ff7023;
	display: inline-block;
}

.shop-goods-wrap {
	margin: 20px auto;
	overflow: hidden;
}

.shop-goods-wrap h2 {
	width: 100px;
	text-align: center;
	font-size: 18px;
	line-height: 45px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dcdcdc;
	background: #f9f9f9;
}

.shop-goods-content {
	padding: 20px;
	line-height: 30px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.shop-order {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.shop-order h2 {
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid #dcdcdc;
}

.shop-order h3 {
	line-height: 50px;
}

.shop-order-wrap {
	margin: 30px;
	overflow: hidden;
}

.shop-order-wrap ul li {
	line-height: 40px;
	overflow: hidden;
}

.shop-order-wrap em {
	color: #f00;
}

.shop-order-wrap ul li label {
	width: 80px;
	text-align: right;
	padding-right: 2px;
	display: inline-block;
}

.shop-order-content {
	margin: 30px;
	overflow: hidden;
}

.shop-order-content i {
	width: 120px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background: #ff7023;
	display: inline-block;
}

.link-tab {
	margin: 0 auto;
	width: 1000px;
	border-bottom: 1px solid #ff7023;
	overflow: hidden;
}

.link-tab ul li {
	float: left;
	width: 100px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dcdcdc;
}

.link-hover {
	color: #fff;
	background: #ff7023;
}

.link-wrap {
	margin: 10px auto 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.link-wrap ul li {
	float: left;
	margin: 5px auto;
}

.link-wrap img {
	width: 190px;
	height: 60px;
}

.link-tab ul span {
	float: right;
}

.link-tab ul span a {
	color: #ff7023;
}

.news-tab {
	margin: 0 auto;
	border-bottom: 1px solid #ff7023;
	overflow: hidden;
}

.news-tab ul li {
	float: left;
	width: 100px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dcdcdc;
}

.news-tab span {
	float: right;
}

.news-wrap {
	margin: 10px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.news-wrap ul li {
	font-size: 16px;
	line-height: 40px;
}

.news-wrap span {
	float: right;
	color: #999;
	padding-right: 20px;
}

.footer-wrapper {
	margin: 0 auto;
	color: #fff;
	border-top: 4px solid #ff7023;
	background: url(../image/foot-bg.png);
	overflow: hidden;
}

.footer-wrapper a {
	color: #fff;
}

.footer-wrapper a:hover {
	color: #ff7023;
}

.footer {
	margin: 20px auto;
	width: 1000px;
	overflow: hidden;
}

.foot-left {
	float: left;
	width: 680px;
	border-right: 2px solid #676767;
}

.foot-div {
	float: left;
	width: 110px;
	margin: 0 20px;
}

.foot-div h3 {
	color: #ff7023;
	font-size: 18px;
	line-height: 50px;
}

.foot-div ul li {
	line-height: 30px;
}

.foot-right {
	float: right;
	width: 265px;
	font-size: 12px;
	line-height: 30px;
}

.foot-right ul li {
	line-height: 40px;
}

.copyright {
	margin: 30px auto;
	width: 1000px;
	line-height: 30px;
	overflow: hidden;
}

.copyright ul li {
	float: left;
	text-align: center;
	padding-right: 10px;
}

.copy-div {
	margin: 0 auto;
	width: 370px;
	overflow: hidden;
}

.copy-about {
	margin: 0 auto;
	width: 320px;
	overflow: hidden;
}

.copy-right {
	margin: 0 auto;
	width: 600px;
	overflow: hidden;
}

.feat-area {
	height: 390px;
	position: relative;
	overflow: hidden;
	min-width: 1000px;
}

.slider-items {
	width: 100%;
	height: 390px;
	overflow: hidden;
	position: relative;
}

.slider {
	width: 100%;
	min-width: 1000px;
	height: 390px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	display: none;
}

.slider li {
	width: 100%;
	height: 390px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.slider-index,.gsd-items,.slider-updown,.slider li a {
	min-width: 1000px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.slider-index .items {
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 10px;
}

.slider-index li {
	float: left;
	color: #0094CD;
	display: inline;
	margin-right: 7px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	background: #FFFFFF;
	border-radius: 20px;
}

.slider li a {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	height: 330px;
}

.slider-index li.current {
	background: #0094CD;
	color: #fff;
}

.gsd {
	width: 322px;
	height: 370px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -380px;
	filter: alpha(Opacity = 100);
	-moz-opacity: 0.9;
	opacity: 0.9;
}

.gsd-cont {
	position: relative;
	z-index: 5;
	color: #666;
	padding: 0 20px;
}

.gsd-cont h2 {
	color: #fff;
	font-size: 16px;
	line-height: 36px;
}

.gsd-cont em {
	color: #e83e27;
	font-size: 24px;
}

.gsd-cont p {
	margin: 10px auto;
}

.gsd-cont i {
	width: 218px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
}

.gsd-reg {
	margin: 10px auto;
	overflow: hidden;
}

.gsd-reg h3 {
	font-size: 14px;
	border-bottom: 2px solid #ea5404;
}

.gsd-reg h3 a {
	font-size: 18px;
	color: #ea5404;
	padding: 0 5px;
}

.gsd-reg ul {
	margin: 5px auto;
	overflow: hidden;
}

.gsd-reg li {
	line-height: 40px;
}

.gsd-reg input {
	width: 244px;
	height: 28px;
	padding-left: 30px;
	border-radius: 0px;
	border: 1px solid #bbb;
}

.gsd-reg input[type=text] {
	background: url(../image/banner-user.png) no-repeat 5px;
}

.gsd-reg input[type=password] {
	background: url(../image/banner-pw.png) no-repeat 5px;
}

.gsd-three {
	width: 280px;
	overflow: hidden;
}

.gsd-three h3 {
	border-top: 1px solid #ccc;
}

.gsd-three h3 span {
	margin-left: 85px;
	margin-top: -12px;
	font-size: 14px;
	position: absolute;
	background: #fff;
}

.gsd-three ul {
	margin: 15px auto;
	width: 80px;
	overflow: hidden;
}

.gsd-three li {
	float: left;
	width: 35px;
	text-align: center;
}

.gsd-login {
	margin: 20px auto;
	line-height: 35px;
	overflow: hidden;
}

.gsd-login ul li {
	line-height: 35px;
}

.gsd .opacity {
	width: 320px;
	height: 370px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: url(../image/banner_bg.png) no-repeat;
}

#wrapper {
	text-align: center;
}

.overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 0;
	z-index: 10;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: none;
}

#overlay_pic {
	margin: 80px 0 100px auto;
	width: 600px;
}

.jscarousal {
	width: 940px;
	height: 150px;
	margin: 0 auto;
	padding: 0;
	padding: 22px 8px 22px 8px;
	position: relative;
}

.jscarousal .jscarousal-left,.jscarousal .jscarousal-right {
	float: left;
	width: 23px;
	height: 98px;
	color: White;
	position: relative;
	top: 12px;
	cursor: pointer;
}

.jscarousal .jscarousal-left {
	background-image: url(../image/left_arrow.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.jscarousal .jscarousal-right {
	background-image: url(../image/right_arrow.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.jscarousal-contents {
	width: 890px;
	height: 165px;
	float: left;
	position: relative;
	overflow: hidden;
}

.jscarousal-contents>div {
	position: absolute;
	width: 100%;
	height: 165px;
}

.jscarousal-contents>div>div {
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}

.jscarousal-contents img {
	width: 160px;
	height: 120px;
	border: solid 1px #7A7677;
}

.progressbar {
	text-align: center;
	line-height: 44px;
	width: 44px;
	display: block;
	background: url(../image/investjd.png);
	height: 44px;
	font-size: 14px;
	margin: 0px auto;
}

.progressbar-1 {
	background-position: 0px 0px;
}

.progressbar-2 {
	background-position: -54px 0px;
}

.progressbar-3 {
	background-position: -108px 0px;
}

.progressbar-4 {
	background-position: -162px 0px;
}

.progressbar-5 {
	background-position: -216px 0px;
}

.progressbar-6 {
	background-position: -270px 0px;
}

.progressbar-7 {
	background-position: -324px 0px;
}

.progressbar-8 {
	background-position: -378px 0px;
}

.progressbar-9 {
	background-position: -432px 0px;
}

.progressbar-10 {
	background-position: -486px 0px;
}

.progressbar-11 {
	background-position: -540px 0px;
}

.progressbar-12 {
	background-position: -594px 0px;
}

.progressbar-13 {
	background-position: -648px 0px;
}

.progressbar-14 {
	background-position: -702px 0px;
}

.progressbar-15 {
	background-position: -756px 0px;
}

.progressbar-16 {
	background-position: -810px 0px;
}

.progressbar-17 {
	background-position: -864px 0px;
}

.progressbar-18 {
	background-position: -918px 0px;
}

.progressbar-19 {
	background-position: -972px 0px;
}

.progressbar-20 {
	background-position: -1026px 0px;
}

.progressbar-21 {
	background-position: -1080px 0px;
}

.progressbar-22 {
	background-position: -1134px 0px;
}

.progressbar-23 {
	background-position: -1188px 0px;
}

.progressbar-24 {
	background-position: -1242px 0px;
}

.progressbar-25 {
	background-position: -1296px 0px;
}

.progressbar-26 {
	background-position: -1350px 0px;
}

.progressbar-27 {
	background-position: -1404px 0px;
}

.progressbar-28 {
	background-position: -1458px 0px;
}

.progressbar-29 {
	background-position: -1512px 0px;
}

.progressbar-30 {
	background-position: -1566px 0px;
}

.progressbar-31 {
	background-position: -1620px 0px;
}

.progressbar-32 {
	background-position: -1674px 0px;
}

.progressbar-33 {
	background-position: -1728px 0px;
}

.progressbar-34 {
	background-position: -1782px 0px;
}

.progressbar-35 {
	background-position: -1836px 0px;
}

.progressbar-36 {
	background-position: -1890px 0px;
}

.progressbar-37 {
	background-position: -1944px 0px;
}

.progressbar-38 {
	background-position: -1998px 0px;
}

.progressbar-39 {
	background-position: -2052px 0px;
}

.progressbar-40 {
	background-position: -2106px 0px;
}

.progressbar-41 {
	background-position: -2160px 0px;
}

.progressbar-42 {
	background-position: -2214px 0px;
}

.progressbar-43 {
	background-position: -2268px 0px;
}

.progressbar-44 {
	background-position: -2322px 0px;
}

.progressbar-45 {
	background-position: -2376px 0px;
}

.progressbar-46 {
	background-position: -2430px 0px;
}

.progressbar-47 {
	background-position: -2484px 0px;
}

.progressbar-48 {
	background-position: -2538px 0px;
}

.progressbar-49 {
	background-position: -2592px 0px;
}

.progressbar-50 {
	background-position: -2700px 0px;
}

.progressbar-51 {
	background-position: -2754px 0px;
}

.progressbar-52 {
	background-position: -2808px 0px;
}

.progressbar-53 {
	background-position: -2862px 0px;
}

.progressbar-54 {
	background-position: -2916px 0px;
}

.progressbar-55 {
	background-position: -2970px 0px;
}

.progressbar-56 {
	background-position: -3024px 0px;
}

.progressbar-57 {
	background-position: -3078px 0px;
}

.progressbar-58 {
	background-position: -3132px 0px;
}

.progressbar-59 {
	background-position: -3186px 0px;
}

.progressbar-60 {
	background-position: -3240px 0px;
}

.progressbar-61 {
	background-position: -3294px 0px;
}

.progressbar-62 {
	background-position: -3348px 0px;
}

.progressbar-63 {
	background-position: -3402px 0px;
}

.progressbar-64 {
	background-position: -3456px 0px;
}

.progressbar-65 {
	background-position: -3510px 0px;
}

.progressbar-66 {
	background-position: -3564px 0px;
}

.progressbar-67 {
	background-position: -3618px 0px;
}

.progressbar-68 {
	background-position: -3672px 0px;
}

.progressbar-69 {
	background-position: -3726px 0px;
}

.progressbar-70 {
	background-position: -3780px 0px;
}

.progressbar-71 {
	background-position: -3834px 0px;
}

.progressbar-72 {
	background-position: -3888px 0px;
}

.progressbar-73 {
	background-position: -3942px 0px;
}

.progressbar-74 {
	background-position: -3996px 0px;
}

.progressbar-75 {
	background-position: -4050px 0px;
}

.progressbar-76 {
	background-position: -4104px 0px;
}

.progressbar-77 {
	background-position: -4158px 0px;
}

.progressbar-78 {
	background-position: -4212px 0px;
}

.progressbar-79 {
	background-position: -4266px 0px;
}

.progressbar-80 {
	background-position: -4320px 0px;
}

.progressbar-81 {
	background-position: -4376px 0px;
}

.progressbar-82 {
	background-position: -4428px 0px;
}

.progressbar-83 {
	background-position: -4482px 0px;
}

.progressbar-84 {
	background-position: -4536px 0px;
}

.progressbar-85 {
	background-position: -4590px 0px;
}

.progressbar-86 {
	background-position: -4644px 0px;
}

.progressbar-87 {
	background-position: -4698px 0px;
}

.progressbar-88 {
	background-position: -4752px 0px;
}

.progressbar-89 {
	background-position: -4806px 0px;
}

.progressbar-90 {
	background-position: -4860px 0px;
}

.progressbar-91 {
	background-position: -4914px 0px;
}

.progressbar-92 {
	background-position: -4968px 0px;
}

.progressbar-93 {
	background-position: -5022px 0px;
}

.progressbar-94 {
	background-position: -5076px 0px;
}

.progressbar-95 {
	background-position: -5130px 0px;
}

.progressbar-96 {
	background-position: -5184px 0px;
}

.progressbar-97 {
	background-position: -5238px 0px;
}

.progressbar-98 {
	background-position: -5292px 0px;
}

.progressbar-99 {
	background-position: -5346px 0px;
}

.progressbar-100 {
	background-position: -5400px 0px;
}

.recharge-message,.recharge-message .message {
	line-height: 30px;
}

.recharge-message label {
	display: inline-block;
	color: #009;
	width: 80px;
	text-align: right;
}

.recharge-message span {
	font-family: verdana, arial, Simsun;
	font-size: 14px;
}

.order-no {
	color: purple;
}

.money {
	color: #f40;
}

.time {
	color: #000;
}

.recharge-message .success,.recharge-message .error {
	font-family: "Microsoft yahei", YaHei, tahoma;
}

.recharge-message .success {
	color: green;
}

.recharge-message .error {
	color: #c00;
}

.recharge-message .remark {
	margin-left: 25px;
	color: red;
	font-weight: normal;
}

.recharge-message .toolbar {
	padding-left: 25px;
}
/*LS*/
.borrow-section .borrow-award label {
	width: 130px;
	text-align: left;
}

.borrow-section {
	margin: 30px auto;
	width: 1000px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

.borrow-section label {
	color: #333;
}

.borrow-section h3 {
	font-size: 18px;
	line-height: 60px;
	padding-left: 30px;
	border-bottom: 1px solid #dcdcdc;
}

.borrow-items {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.borrow-items ul li {
	float: left;
	width: 480px;
	line-height: 50px;
}
.search-form {
	background: none repeat scroll 0 0 #d2dbea;
	border-bottom: 1px solid #e4e9f2;
	line-height: 39px;
	overflow: hidden;
}

.search-form label {
	color: #000;
	padding-left: 10px;
}
.account-detail{
	
}
.account-detail select{
	width: 180px;
}