
/*贷款协议*/
	.fl{float: left;}
		.fr{float: right;}
		.mod{margin: 10px 20px;}
		.mod .title{ border-bottom: 1px #dcdcdc solid;}
		.mod .title h3{ color: #fff; background: #DE3838; width: 120px; height: 40px; line-height: 40px; text-align: center; font-size: 16px;}
		.mod .cont{padding: 10px; line-height: 24px; font-size: 12px;}
		.jie_par{width: 1000px; margin: 0 auto; border:1px solid #DCDCDC; overflow: hidden;}
		.jk_detail{ width: 690px; }
		.jk_info{width: 230px;}
		.jk_info .cont{ position: relative;}
		.photo{position: absolute; right: 200px; top: 0;}
		.jk_info ul{padding-left: 10px; }
		.jk_info li{width: 100px; text-align: center; float: left; margin: 5px 0 15px; display: inline; position:  relative;}
		.jk_info span{position: absolute; top: 25px; left: 60px;}





















