@CHARSET "UTF-8";

.user-content {
	width: 1100px;
	margin: 50px auto auto auto;
}

.user-content-left {
	width: 273px;
	float: left;
}

.user-content-right {
	width: 813px;
	float: right;
}

.fon-bd {
	height: 164px;
	width: 813px;
	float: left;
	padding-top: 20px;
	background: url(../upload/image/y-backgroun2.png) repeat-x;
}

.f-right {
	width: 235px;
	height: 120px;
	float: right;
	border-left: 1px solid #ccc;
}

.f-left-tu {
	width: 120px;
	height: 118px;
	float: left;
	border: dotted 2px #ccc;
	padding: 5px;
	margin-left: 12px;
}

.f-left-tu img {
	border: 0px;
}

.r-rot {
	float: left;
	width: 350px;
	line-height: 30px;
	margin-left: 15px;
}

.red {
	font-weight: bold;
	font-size: 18px;
	color: #d7243e;
}

/**********************************************************************************************************************************************************/
.ui-table {
	width: 100%;
	text-align: center;
	line-height: 32px;
	margin-top: 10px;
}

.ui-table caption {
	/* line-height: 36px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold; */
	display: none;
}

.tr-head {
	background-color: #eee;
}

.ui-table td {
	border-bottom: 1px dashed #dcdcdc;
}

.ui-table-widget {
	margin-top: 10px;
	text-align: center;
	background-color: #dcdcdc;
	line-height: 42px;
	clear: both;;
}

.ui-table-widget span {
	padding: 0 4px;
}

.ui-table-widget a {
	color: #0082d6;
	padding: 0 4px;
}

.ui-table-widget a:hover {
	color: #0e92e7;
	text-decoration: underline;
}

.ui-button {
	margin: 0 4px;
}

.ui-text {
	width: 40px;
}

.post-form {
	margin-top: 10px;
}

.search-form label {
	color: #000;
	padding-left: 10px;
}

.user_right_border_new {
	font-size: 14px;
	height: auto;
	line-height: 28px;
	margin: 15px 0;
	overflow: hidden;
	text-align: left;
	width: 100%;
}

.user_right_border_new label {
	display: inline-block;
	width: 120px;
	text-align: right;
}