@charset "utf-8";

html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background: #fff;
	font-family: "微软雅黑", "Arial Narrow", HELVETICA;
	font-size: 14px;
	line-height: 18px;
}

body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,em,img,strong,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,figure,hgroup,menu,footer,header,nav,section,time,input
	{
	margin: 0;
	padding: 0;
}

i {
	font-style: normal;
}

a {
	outline: none;
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0;
	vertical-align: middle;
}

ol,ul,li {
	list-style: none;
}

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video {
	display: block;
}

em {
	font-style: normal;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}

.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.cf {
	zoom: 1;
} /*解决ie6/7兼容问题*/

/*背景*/
[class^="icon-"],[class*=" icon-"] {
	background: url(../images/icon.png);
	display: inline-block;
	background-size: 160px 147px;
}

section {
	padding-bottom: 50px;
}

.container {
	padding: 45px 0 50px;
}

/*首页*/
.header {
	background: #fcb938;
	height: 44px;
	position: relative;
	z-index: 89;
}

.head {
	text-align: center;
	height: 34px;
	padding: 10px 0 0 0;
}

.logo {
	background: url(../images/logo.jpg) no-repeat;
	display: inline-block;
	width: 94px;
	height: 23px;
	background-size: contain;
}

/*banner*/
.banner {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 88;
	height: 130px;
}

.banner li a {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.banner img {
	display: block;
	margin: 0 auto;
	width: 100%;
}
/*.slider{display:none}用于获取更加体验*/
.focus {
	text-align: center;
	height: 19px;
	width: 100%;
}

.focus span {
	width: 6px;
	height: 6px;
	text-indent: -999em;
	margin: 0 2px;
	cursor: pointer;
	display: inline;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ff7e2c;
	border-radius: 6px;
}

.focus span.current {
	background-color: #ff7e2c;
}

.tongji {
	margin-top: 130px;
	padding: 10px 0;
}

.tongji ul {
	overflow: hidden;
}

.tongji li {
	float: left;
	text-align: center;
	border-right: 1px #ccc solid;
	font-size: 12px;
	width: 49%;
}

.tongji li p {
	font-size: 18px;
	line-height: 40px;
}

.tongji li p.sy {
	color: #ff6600;
}

.tongji li p.je {
	color: #0079c3;
}

.tongji li.br_none {
	padding-left: 5px;
	border: none;
}

.lc_list {
	padding: 0 8px;
}

.list {
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
	margin: 8px 0;
}

.list h3 {
	padding: 0 0 5px 0;
	line-height: 25px;
	font-size: 14px;
	border-bottom: 1px #ccc solid;
}

.list h3 span {
	font-size: 12px;
	text-align: center;
	margin: 0 5px;
	color: #fff;
	display: inline-block;
	background: #dd2c0f;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 15px;
}

.list a {
	display: block;
}

.lc_info {
	font-size: 12px;
	padding: 5px 0;
	width: 100%;
}

.lc_info li {
	float: left;
	text-align: center;
	padding: 0 5px;
	line-height: 30px;
	color: #a7a7a7;
}

.lc_info li i {
	font-style: normal;
	font-size: 13px;
}

.fc1 {
	color: #ff7e2c;
	font-size: 18px;
}

.fc2 {
	color: #656565;
	font-size: 18px;
}

.list a {
	display: block;
	width: 100%;
	overflow: hidden;
}

.list .cont {
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}

.loading {
	float: left;
	width: 65%;
	margin-left: 5px;
	margin-top: 5px;
}

.jd {
	background: #979d9a;
	border-radius: 3px;
	height: 10px;
	width: 100%;
}

.jd_hover {
	background: #edac2e;
	display: inline-block;
	height: 10px;
	border-radius: 3px;
	float: left;
}

.lc_btn {
	float: right;
	width: 25%;
	text-align: right;
}

.lc_btn input {
	background: #fd4d00;
	padding: 0 8px;
	border-radius: 10px;
	line-height: 25px;
	display: inline-block;
	color: #fff;
	border: none;
}

/*footer*/
.footer {
	width: 100%;
	height: 50px;
	background: #f9f5f6;
	border-top: 1px #ccc solid;
	bottom: 0;
	left: 0;
	position: fixed;
}

.smartTool {
	width: 100%;
	height: 50px;
}

.smartTool a {
	width: 25%;
	text-align: center;
	display: inline-block;
	float: left;
	font-size: 10px;
}

.smartTool a i {
	width: 25px;
	height: 21px;
	display: block;
	margin: 8px auto 0;
}

.nav {
	background: url(../images/menu.png) no-repeat;
	display: inline-block;
	background-size: 157px 108px;
	width: 25px;
	height: 21px;
}

.icon_home {
	width: 25px;
	height: 21px;
	display: inline-block;
	background-position: 0 0;
}

.smartTool a.current {
	color: #753b0a;
}

.smartTool a.current .icon_home {
	background-position: 0 -21px;
}

.icon_lc {
	background-position: -25px 0px;
}

.smartTool a.current .icon_lc {
	background-position: -25px -21px;
}

.icon_money {
	background-position: -50px 0px;
}

.smartTool a.current .icon_money {
	background-position: -50px -21px;
}

.icon_more {
	background-position: -75px 0px;
}

.smartTool a.current .icon_more {
	background-position: -75px -21px;
}

/*投资理财*/
.top {
	position: fixed;
	background: #fcb938;
	height: 44px;
	width: 100%;
	margin-top: -10px;
}

.top h3 {
	line-height: 44px;
	color: #fff;
	font-size: 16px;
}

.top .back {
	position: absolute;
	top: 15px;
	left: 10px;
	background: url(../images/back.png);
	width: 10px;
	height: 16px;
	background-size: 10px 16px;
}

/*投资详情*/
.lc_detail {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px #ccc solid;
}

.lc_detail h3 {
	padding: 0 0 5px 0;
	line-height: 25px;
	font-size: 14px;
	border-bottom: 1px #ccc solid;
}

.lc_detail h3 span {
	font-size: 12px;
	text-align: center;
	margin: 0 5px;
	color: #fff;
	display: inline-block;
	background: #dd2c0f;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 15px;
}

.info {
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
}

.info li {
	width: 25%;
	float: left;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
}

.info li span {
	display: block;
}

.info li strong {
	font-size: 24px;
	color: #ff7e2c;
	font-weight: normal;
}

.lc_detail .cont {
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
	height: 30px;
}

.fl_loading {
	float: left;
	width: 65%;
	margin-left: 5px;
	margin-top: 5px;
}

.fl_loading .jd {
	background: #979d9a;
	border-radius: 3px;
	height: 10px;
	width: 100%;
}

.fl_loading .jd_hover {
	background: #edac2e;
	display: inline-block;
	height: 10px;
	border-radius: 3px;
	float: left;
}

.fr_button {
	float: right;
	width: 25%;
	text-align: right;
	margin-right: 5px;
}

.fr_button a {
	padding-top: -100px;
	background: #fd4d00;
	padding: 0 8px;
	border-radius: 10px;
	line-height: 25px;
	display: inline-block;
	color: #fff;
}

.hkfs {
	clear: both;
	font-size: 10px;
	text-align: center;
}

.project_detail {
	width: 100%;
	border-bottom: 1px #ccc solid;
}

.project_detail .title {
	border-bottom: 1px #ccc solid;
	height: 35px;
	line-height: 35px;
}

.project_detail h3 {
	font-size: 14px;
	color: #666666;
	text-indent: 10px;
}

.project_detail .cont {
	text-indent: 24px;
	line-height: 20px;
	font-size: 12px;
	padding: 10px;
	color: #999999;
}

.project_List {
	
}

.project_List li {
	line-height: 35px;
	border-bottom: 1px #ccc solid;
	padding: 0 10px;
}

.project_List li a {
	background: url(../images/next.png) no-repeat center right;
	background-size: 9px 12px;
	display: inline-block;
	width: 100%;
	display: block;
}

.project_List li a:hover {
	color: #ff7e2c;
}

/*登录*/
.login {
	margin: 20px 0;
	border-top: 1px #ccc solid;
	width: 100%;
}

.login ul {
	margin-bottom: 10px;
}

.login li {
	border-bottom: 1px #ccc solid;
	color: #7e7d7d;
}

.login li input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	border: 0;
	text-indent: 10px;
	color: #7e7d7d;
}

.dl_btn,.zc_btn {
	padding: 5px 10px;
}

.dl_btn a {
	display: block;
	background: #fd4d00;
	color: #fff;
	text-align: center;
	border: none;
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	border-radius: 5px;
}

.zc_btn a {
	display: block;
	background: #dadada;
	color: #666666;
	text-align: center;
	border: none;
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	border-radius: 5px;
}

.forget_password {
	padding: 0 10px;
	font-size: 14px;
}

.forget_password a {
	background: url(../images/suo.png) no-repeat;
	background-size: 13px 15px;
	padding-left: 20px;
}

/*注册*/
.reg {
	padding-top: 20px;
}

.reg ul {
	border-top: 1px #ccc solid;
}

.reg li {
	border-bottom: 1px #ccc solid;
	height: 40px;
	line-height: 40px;
}

.reg li label {
	float: left;
	padding: 0 10px;
}

.reg li input {
	color: #999;
	border: none;
	line-height: 35px;
}

.reg li input.w_50 {
	width: 40%;
}

.reg li .yzm {
	display: inline-block;
	background: #ecb241;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	padding: 0 10px;
}

.tk {
	padding: 10px;
}

.tj {
	text-align: center;
	padding: 10px 10px;
}

.tj i {
	font-style: normal;
}

.tj a {
	display: block;
	background: #fd4d00;
	height: 35px;
	line-height: 35px;
	width: 100%;
	border: none;
	border-radius: 5px;
	color: #fff;
}

/*新闻公告*/
.news {
	padding: 10px;
}

.news li {
	border-bottom: 1px #ccc solid;
	line-height: 35px;
	color: #898989;
}

.news li a {
	color: #898989;
	display: block;
}

.news li a:hover {
	color: #ff7e2c;
}

/*关于我们*/
.about {
	padding: 10px;
	color: #666666;
	line-height: 25px;
}

.about p {
	text-indent: 24px;
}

/*会员中心*/
.name {
	background: #eeeeee;
	border-bottom: 1 #dcdcdc solid;
	line-height: 40px;
	text-indent: 10px;
}

.member {
	padding: 0 10px;
	overflow: hidden;
	color: #666666;
}

.member li {
	border-bottom: 1px #ccc solid;
	width: 33.3333%;
	float: left;
	line-height: 20px;
	font-size: 12px;
	padding: 10px 0;
}

.member li .fc3 {
	font-size: 14px;
	color: #ff7e2c;
}

.deposit {
	border-bottom: 1px #ccc solid;
	padding: 20px 10px;
}

.deposit input {
	background: #ce9600;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 5px;
	width: 100%;
}

.member_list ul {
	
}

.member_list li {
	padding: 0 10px;
	border-bottom: 1px #ccc solid;
	line-height: 40px;
	font-size: 13px;
}

.member_list li a {
	color: #666666;
	display: block;
}

.member_list li a:hover {
	color: #ff7e2c;
}

.member_list li i {
	background: url(../images/icon.png) no-repeat;
	background-size: 17px 51px;
	width: 17px;
	height: 17px;
	overflow: hidden;
	color: #666666;
	font-style: normal;
}

.member_list li i.ds_detail {
	background-position: 0 0px;
	padding-left: 22px;
}

.member_list li i.password {
	background-position: 0 -17px;
	padding-left: 22px;
}

.member_list li i.exit {
	background-position: 0 -34px;
	padding-left: 22px;
}

span.next {
	float: right;
	background: url(../images/next.png) no-repeat center right;
	background-size: 9px 12px;
	float: right;
	display: inline-block;
	width: 100%;
	width: 9px;
	height: 12px;
	margin: 15px 10px 0 0;
}

/*更多*/
.more {
	
}

.more li {
	border-bottom: 1px #ccc solid;
	line-height: 40px;
	height: 40px;
	padding: 0 0 0 10px;
}

.more li a {
	width: 100%;
	color: #666666;
	display: block;
	float: left;
}

.more li a:hover {
	color: #ff7e2c;
}

.more li .next {
	float: right;
}

/*代收明细*/
.ds_list td.title {
	color: #666;
}

.ds_list td {
	text-align: center;
	line-height: 30px;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	color: #999;
}

/*修改密码*/
.change_password {
	
}

.change_password ul {
	border-top: 1px #ccc solid;
	color: #666;
}

.change_password li {
	border-bottom: 1px #ccc solid;
	height: 40px;
	line-height: 40px;
}

.change_password li label {
	float: left;
	padding-left: 10px;
}

.change_password li input {
	color: #999;
	border: none;
	line-height: 35px;
	padding-left: 10px;
	width: 60%;
}

.passwrod_btn {
	margin: 10px;
}

.passwrod_btn input.tj {
	background: #fd4d00;
	height: 35px;
	line-height: 35px;
	width: 100%;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 0 10px;
}

/*立即投标*/
.ljtb_btn {
	padding: 10px;
}

.ljtb_btn a {
	display: block;
	background: #fd4d00;
	height: 35px;
	line-height: 35px;
	width: 100%;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 0 10px;
}

/*申请提现*/
.cash {
	line-height: 30px;
	padding: 10px;
	border-bottom: 1px #ccc solid;
}

.cash li label {
	color: #999;
}

.logins {
	line-height: 30px;
	padding: 10px;
}

.logins li {
	border-bottom: 1px #ccc solid;
	line-height: 35px;
}

.logins li label {
	color: #999;
}

.logins li input {
	border: none;
	width: 50%;
}

.logins .gain-sms-code {
	display: inline-block;
	background: #ecb241;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	padding: 0 10px;
}

.sqtx {
	padding-top: 10px;
}

.sqtx a {
	display: block;
	cursor: pointer;
	background: #ce9600;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 5px;
	width: 100%;
}

.swiper-container {
	height: 130x;
	width: 100%;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px, 0, 0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px, 0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px, 0, 0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.content-slide {
	color: #fff;
}

.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 5px;
	width: 100%;
}

.device {
	width: 100%;
	height: 130px;
	background: #f5f5f5;
	position: relative;
}

.tixian-wrap {
	text-align: center;
}

.org {
	background: #f0ad4e;
}